<section id="benefits">
    <div id="sectionHeader">
        <h1 class="greenGradientText">Lorem ipsum dolor sit amet.</h1>
        <p>Lorem ipsum doorum minima nobis ad.</p>
    </div>
    <div id="displayGrid" class="benefitsGridContainer">
        <article>
            <div class="circleIcon">
                <i class="fa-solid fa-clock"></i>
            </div>
            <h3>24/7 Support</h3>
            <p>Lorem, ipsum doloelit. Voluptas perspiciatis similique, alias quidem nulla cumque?</p>
        </article>
        <article>
            <div class="circleIcon">
                <i class="fa-solid fa-clock"></i>
            </div>
            <h3>24/7 Support</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, quos? Lorem, ipsum dolor sit amet
                dem nulla cumque?</p>
        </article>
        <article>
            <div class="circleIcon">
                <i class="fa-solid fa-clock"></i>
            </div>
            <h3>24/7 Support</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, quos? Lorem, ipsum dolor sit amet
                dem nulla cumque?</p>
        </article>
        <article>
            <div class="circleIcon">
                <i class="fa-solid fa-clock"></i>
            </div>
            <h3>24/7 Support</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, quos? Lorem, ipsum dolor sit amet
                dem nulla cumque?</p>
        </article>
        <article>
            <div class="circleIcon">
                <i class="fa-solid fa-clock"></i>
            </div>
            <h3>24/7 Support</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, quos? Lorem, ipsum dolor sit amet
                dem nulla cumque?</p>
        </article>
        <article>
            <div class="circleIcon">
                <i class="fa-solid fa-clock"></i>
            </div>
            <h3>24/7 Support</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, quos? Lorem, ipsum dolor sit amet
                dem nulla cumque?</p>
        </article>
    </div>
</section>
