<%- include('./dashboardIncludes/dashboardHead.ejs') %>
    <!-- Sidebar -->
    <%- include('./dashboardIncludes/sidebarDashboard.ejs') %>
        <div id="dashboardContainer">
            <div id="topBar" class="flexRow justifySpaceBetween">
                <h3>Dashboard / <span class="colored">Book Service</span></h3>
                <button class="sidebarDashboardToggle"><i class="fas fa-bars"></i></button>
            </div>

            <section id="bookingForm" class="dashboardContent card">
                <h2>Fill this form to book your service</h2>
                <form action="/bookingForm" method="post" style="padding: 10px;">
                    <!-- First Name , Last Name -->
                    <div class="flexRow flexRowToColumn alignItemsCenter" style="width:
                    100%">
                        <div class="flexInputDiv">
                            <label for="FirstName">First Name</label>
                            <input value="" type="text" name="firstName" placeholder="John">
                        </div>
                        <div class="flexInputDiv">
                            <label for="LastName">Last Name</label>
                            <input value="" type="text" name="lastName" placeholder="Doe">
                        </div>
                    </div>


                    <!-- Email , Contact Number -->
                    <div class="flexRow flexRowToColumn alignItemsCenter" style="width:
                    100%">
                        <div class="flexInputDiv">
                            <label for="FirstName">Email</label>
                            <input value="" type="email" name="email" placeholder="john@gmail.com">
                        </div>
                        <div class="flexInputDiv">
                            <label for="Email">Contact Number</label>
                            <input value="" type="text" name="contactNumber" placeholder="+1 (XXX) XXX-XXXX">
                        </div>
                    </div>

                    <!-- Address -->
                    <label for="address">Address</label>
                    <input value="" type="text" name="contactNumber" placeholder="+1 (XXX) XXX-XXXX">

                    <!-- Pin , Location Type -->
                    <div class="flexRow flexRowToColumn alignItemsCenter" style="width:
                                        100%">
                        <div class="flexInputDiv">
                            <label for="pinCode">Pin Code</label>
                            <input value="" type="email" name="pinCode" placeholder="110018">
                        </div>
                        <div class="flexInputDiv">
                            <label for="locationType">Location Type (Home, Office, Studio, Etc)</label>
                            <input value="" type="text" name="locationType" placeholder="Home">
                        </div>
                    </div>
                    <!-- Date -->
                    <label for="date">Date On Which Service Is Required</label>
                    <input type="date" name="myDateInput" id="myDateInput">

                    <!-- Starting Time And Service Type -->
                    <div class="flexRow flexRowToColumn alignItemsCenter" style="width:
                                        100%">
                        <div class="flexInputDiv">
                            <select
                                style="width: 100%; text-align: center; padding: 20px; font-size: 18px; margin-bottom: 10px;">
                                <option value="null">Select Starting Time</option>
                                <option value="8:00 AM">8:00 AM</option>
                                <option value="9:00 AM">9:00 AM</option>
                                <option value="10:00 AM">10:00 AM</option>
                                <option value="11:00 AM">11:00 AM</option>
                                <option value="12:00 PM">12:00 PM</option>
                                <option value="1:00 PM">1:00 PM</option>
                                <option value="2:00 PM">2:00 PM</option>
                                <option value="3:00 PM">3:00 PM</option>
                                <option value="4:00 PM">4:00 PM</option>
                                <option value="5:00 PM">5:00 PM</option>
                                <option value="6:00 PM">6:00 PM</option>
                                <option value="7:00 PM">7:00 PM</option>
                            </select>
                        </div>
                        <div class="flexInputDiv">
                            <select
                                style="width: 100%; text-align: center; padding: 20px; font-size: 18px; margin-bottom: 10px;">
                                <option value="null">Select Your Desired Service</option>
                                <option value="houseCleaning">House Cleaning</option>
                                <option value="officeCleaning">Office Cleaning</option>
                                <option value="carpetCleaning">Carpet Cleaning</option>
                                <option value="windowCleaning">Window Cleaning</option>
                                <option value="pressureWashing">Pressure Washing</option>
                                <option value="janitorialServices">Janitorial Services</option>
                                <option value="moveInCleaning">Move-In Cleaning</option>
                                <option value="moveOutCleaning">Move-Out Cleaning</option>
                                <option value="postConstructionCleaning">Post-Construction Cleaning</option>
                                <option value="deepCleaning">Deep Cleaning</option>
                                <option value="upholsteryCleaning">Upholstery Cleaning</option>
                                <option value="tileAndGroutCleaning">Tile and Grout Cleaning</option>
                                <option value="airDuctCleaning">Air Duct Cleaning</option>
                                <option value="garageCleaning">Garage Cleaning</option>
                                <option value="carWash">Car Wash</option>
                                <option value="gutterCleaning">Gutter Cleaning</option>
                                <option value="poolCleaning">Pool Cleaning</option>
                                <option value="upholsteryCleaning">Upholstery Cleaning</option>
                                <option value="drivewayCleaning">Driveway Cleaning</option>
                                <option value="ovenCleaning">Oven Cleaning</option>
                                <option value="grillCleaning">Grill Cleaning</option>
                                <option value="other">Other</option>

                            </select>
                        </div>
                    </div>
                    <div class="flexColumn">
                        <label for="">Details and Requirements</label>
                        <textarea name="" id="" cols="30" rows="8"></textarea>
                    </div>
                    <button class="btn btn-red" style="border: none; cursor: pointer;">Book Service</button>
                </form>
            </section>
        </div>

        <%- include('./dashboardIncludes/dashboardEnd.ejs') %>