<footer>
    <section id="footerSections" class="flexRow  flexRowtoColumn">

        <div>
            <h3>About</h3>
            <img style="margin: 0;" src="./img/logo.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga libero ipsum natus rem
                perferendis
                placeat voluptas pariatur laudantium vero culpa. Magni, aliquid esse! Est iure atque
                recusandae,
                praesentium provident non.</p>
            <a href="">Book Now</a>
        </div>
        <div>
            <h3>Navigate To</h3>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">How it works ?</a></li>
                <li><a href="">Testimonials</a></li>
            </ul>
            <br>
            <div class="flexRow socialIcons">

                <a href="#"><i style="color: #fa93ff;" class="fa-brands fa-instagram"></i></i></a>
                <a href="#"><i style="color: #4980ff" class="fa-brands fa-facebook"></i></a>
                <a href="#"><i style="color: rgb(19, 255, 19);"
                        class="fa-brands fa-whatsapp"></i></i></a>

            </div>
        </div>
        <div>
            <h3>Contact Us</h3>
            <div class="flexColumn  flexRowtoColumn">
                <div class="flexColumn ">
                    <i class="fa-solid fa-phone"></i>
                    <p>+1 (611) 331-0122</p>
                </div>
                <div class="flexColumn ">
                    <i class="fa-solid fa-envelope"></i>
                    <p>OneStepAwayCleaner@gmail.com</p>
                </div>
                <div class="flexColumn ">
                    <i class="fa-solid fa-location-dot"></i>
                    <p>Toronto, Canada</p>
                </div>
            </div>
        </div>
    </section>
    <hr class="style18">
    <br>
    <%const d=new Date(); let year=d.getFullYear();%>
        <h4 style="text-align: center; margin: 10px; color: rgb(216, 216, 216);">Copyright 2022-
            <%=year%>
                One Step Away Cleaner Private Limited- All rights reserved.
        </h4>
        </h4>
</footer>