<header id="homeHeader">
    <div class="mobileNavbar flexRow alignItemsCenter" style="padding: 8px;">
        <img class="logo" src="./img/logo.png" alt="">
        <button class="sidebar-toggle">
            <i class="fas fa-bars"></i>
        </button>
    </div>
    <section id="homePageHeader">
        <div class="headerContent">
            <h1 class="greenGradientText">Best Maid and House Cleaning Services Toronto</h1>

            <p>
                One Step Away Cleaner is your one-stop destination for expert cleaning services. Get dozens of trusted
                professionals near you to take care of your home and offices.
            </p>
            <a class="btn btn-red" href="#">Book Service Now</a>
        </div>
        <div class="headerImage">
            <img src="./img/headerImg.png" alt="">
        </div>
    </section>
</header>