<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle%>
    </title>
    <link rel="stylesheet" href="./css/util.css">
    <link rel="stylesheet" href="./css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <aside class="sidebar  phoneNav">
        <div class="sidebar-header">
            <img class="logo" src="./img/logo.png" alt="">
            <button class="close-btn"><i class="fas fa-times"></i></button>
        </div>
        <ul class="links alignItemsCenter">
            <li>
                <a href="#">Home</a>
            </li>

            <li>
                <a href="#">About</a>
            </li>

            <li>
                <a href="#">Services</a>
            </li>

            <li>
                <a href="#">Contact Us</a>
            </li>

            <!-- <div class="dropdown">
                <li class="dropdownList">Services<i style="margin:3px; font-size: 12px;"
                        class="fa-solid fa-caret-down"></i></li>
                <div style="left: -30px;" class="dropdown-content">
                    <section>
                        <ul>
                            <li><a style="" href="">Node Js Assignments</a></li>
                            <li><a href="">Node Js Assignments</a></li>
                            <li><a href="">Node Js Assignments</a></li>
                            <li><a href="">Node Js Assignments</a></li>
                        </ul>
                    </section>
                </div>
            </div> -->
        </ul>
        <ul class="loginSignup" ">
            <li>
                <a class=" loginBtn" href="/login">LogIn</a>
            </li>
            <li>
                <a class="signupBtn" href="/signup">SignUp</a>
            </li>
        </ul>
    </aside>
    <header id="homeHeader">
        <div class="mobileNavbar flexRow alignItemsCenter" style="padding: 8px;">
            <img class="logo" src="./img/logo.png" alt="">
            <button class="sidebar-toggle">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <section id="homePageHeader">
            <div class="headerContent">
                <h1 class="greenGradientText">Best Maid and House Cleaning Services Toronto</h1>

                <p>
                    WeClean is your one-stop destination for expert cleaning services. Get dozens of trusted
                    professionals near you to take care of your home and offices.
                </p>
                <a class="btn btn-red" href="#">Book Service Now</a>
            </div>
            <div class="headerImage">
                <img src="./img/headerImg.png" alt="">
            </div>
        </section>
    </header>
    <!-- SERVICES -->
    <section class="padding20">
        <div id="sectionHeader">
            <h1 class="greenGradientText">Services We Provide</h1>
            <p>Lorem ipsum doorum minima nobis ad. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil,
                vitae.</p>
        </div>
        <br>
        <div class="services">
            <article class="card servicesCard">
                <div class="serviceImg">
                    <img src="https://img.freepik.com/free-vector/ballroom-cleaning-illustration-man-polishing-parquet-tile-floor-royal-hall-medieval_33099-378.jpg?size=626&ext=jpg&ga=GA1.2.129187666.1679697716&semt=ais"
                        alt="">
                </div>
                <h2 class="redGradientText">House Cleaning</h2>
                <p>Cleaning and organizing of a home's interior spaces.</p>
            </article>
            <article class="card servicesCard">
                <div class="serviceImg">
                    <img src="https://img.freepik.com/free-vector/windows-cleaning-flat-composition-with-human-character-washing-wide-window-with-vacuum-cleaner-washing-detergents-illustration_1284-64940.jpg?size=626&ext=jpg&ga=GA1.2.129187666.1679697716&semt=ais" alt="">
                </div>
                <h2 class="redGradientText">Window Cleaning</h2>
                <p>Cleaning of exterior and/or interior windows and glass surfaces.</p>
            </article>
            <article class="card servicesCard">
                <div class="serviceImg">
                    <img src="https://img.freepik.com/free-vector/male-janitor-cleaning-toilet_1308-26483.jpg?size=626&ext=jpg&ga=GA1.2.129187666.1679697716&semt=ais" alt="">
                </div>
                <h2 class="redGradientText">Bathroom Cleaning</h2>
                <p>Cleaning and disinfecting of bathroom fixtures, surfaces, and floors.</p>
            </article>
            <article class="card servicesCard">
                <div class="serviceImg">
                    <img src="https://img.freepik.com/free-vector/living-room-cleanup-composition_1284-71693.jpg?size=626&ext=jpg&ga=GA1.2.129187666.1679697716&semt=ais" alt="">
                </div>
                <h2 class="redGradientText">Carpet Cleaning</h2>
                <p>Cleaning and maintenance of carpets and upholstery in homes or businesses.</p>
            </article>
            <article class="card servicesCard">
                <div class="serviceImg">
                    <img src="https://img.freepik.com/free-vector/cleaners-with-cleaning-products-housekeeping-service_18591-52055.jpg?size=626&ext=jpg&ga=GA1.2.129187666.1679697716&semt=ais" alt="">
                </div>
                <h2 class="redGradientText">Office Cleaning</h2>
                <p>Cleaning and organizing of office spaces, including workstations, common areas, and bathrooms.</p>
            </article>
            <article class="card servicesCard">
                <div class="serviceImg">
<img src="https://img.freepik.com/free-vector/flat-car-wash-service-concept-illustration_23-2149049881.jpg?size=626&ext=jpg&ga=GA1.2.129187666.1679697716&semt=ais" alt="">
                </div>
                <h2 class="redGradientText">Pressure Washing</h2>
                <p>Cleaning of vehicles and surfaces such as driveways,and sidewalks using high-pressure water.
                </p>
            </article>
            <article class="card servicesCard">
                <div class="serviceImg">
                    <img src="https://img.freepik.com/free-vector/kitchen-maintenance-service-flat-composition-with-woman-cleaning-stove-top-with-sponge-stylish-dishwasher-oven-illustration_1284-29297.jpg?size=626&ext=jpg&ga=GA1.2.129187666.1679697716&semt=ais" alt="">
                </div>
                <h2 class="redGradientText">Kitchen Cleaning</h2>
                <p>Cleaning and sanitation of commercial kitchen equipment, floors, and surfaces </p>
            </article>

            <article class="card servicesCard">
                <div class="serviceImg">
                    <img src="https://img.freepik.com/free-vector/cleaning-service-flat_1284-65325.jpg?size=626&ext=jpg&ga=GA1.2.129187666.1679697716&semt=ais" alt="">
                </div>
                <h2 class="redGradientText">Special Event Cleaning</h2>
                <p>Cleaning and preparation of event spaces, such as weddings, conferences, and concerts.</p>
            </article>
        </div>
        <div class="textAlignCenter padding20">
            <a style="display: inline-block;" href="" class="btn btn-yellow">Book Service Now !</a>
        </div>
    </section>
    <!-- BENEFITS -->
    <section id="benefits">
        <div id="sectionHeader">
            <h1 class="greenGradientText">Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum doorum minima nobis ad.</p>
        </div>
        <div id="displayGrid" class="benefitsGridContainer">
            <article>
                <div class="circleIcon">
                    <i class="fa-solid fa-clock"></i>
                </div>
                <h3>24/7 Support</h3>
                <p>Lorem, ipsum doloelit. Voluptas perspiciatis similique, alias quidem nulla cumque?</p>
            </article>
            <article>
                <div class="circleIcon">
                    <i class="fa-solid fa-clock"></i>
                </div>
                <h3>24/7 Support</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, quos? Lorem, ipsum dolor sit amet
                    dem nulla cumque?</p>
            </article>
            <article>
                <div class="circleIcon">
                    <i class="fa-solid fa-clock"></i>
                </div>
                <h3>24/7 Support</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, quos? Lorem, ipsum dolor sit amet
                    dem nulla cumque?</p>
            </article>
            <article>
                <div class="circleIcon">
                    <i class="fa-solid fa-clock"></i>
                </div>
                <h3>24/7 Support</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, quos? Lorem, ipsum dolor sit amet
                    dem nulla cumque?</p>
            </article>
            <article>
                <div class="circleIcon">
                    <i class="fa-solid fa-clock"></i>
                </div>
                <h3>24/7 Support</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, quos? Lorem, ipsum dolor sit amet
                    dem nulla cumque?</p>
            </article>
            <article>
                <div class="circleIcon">
                    <i class="fa-solid fa-clock"></i>
                </div>
                <h3>24/7 Support</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, quos? Lorem, ipsum dolor sit amet
                    dem nulla cumque?</p>
            </article>
        </div>
    </section>

    <footer>
        <section id="footerSections" class="flexRow  flexRowtoColumn">

            <div>
                <h3>About</h3>
                <img style="margin: 0;" src="./img/logo.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga libero ipsum natus rem perferendis
                    placeat voluptas pariatur laudantium vero culpa. Magni, aliquid esse! Est iure atque recusandae,
                    praesentium provident non.</p>
                <a href="">Book Now</a>
            </div>
            <div>
                <h3>Navigate To</h3>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">How it works ?</a></li>
                    <li><a href="">Testimonials</a></li>
                </ul>
                <br>
                <div class="flexRow socialIcons">

                    <a href="#"><i style="color: #fa93ff;" class="fa-brands fa-instagram"></i></i></a>
                    <a href="#"><i style="color: #4980ff" class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i style="color: rgb(19, 255, 19);" class="fa-brands fa-whatsapp"></i></i></a>

                </div>
            </div>
            <div>
                <h3>Contact Us</h3>
                <div class="flexColumn  flexRowtoColumn">
                    <div class="flexColumn ">
                        <i class="fa-solid fa-phone"></i>
                        <p>+1 (611) 331-0122</p>
                    </div>
                    <div class="flexColumn ">
                        <i class="fa-solid fa-envelope"></i>
                        <p>WeClean@gmail.com</p>
                    </div>
                    <div class="flexColumn ">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Toronto, Canada</p>
                    </div>
                </div>
            </div>
        </section>
        <hr class="style18">
        <br>
        <%const d=new Date(); let year=d.getFullYear();%>
            <h4 style="text-align: center; margin: 10px; color: rgb(216, 216, 216);">Copyright 2022-<%=year%>
                    WeClean Private Limited- All rights reserved.</h4>
            </h4>
    </footer>
    <script src="./js/navbar.js"></script>
</body>

</html>