
/* #mainArea{
    background-color: aqua;
    height: 300px;
    width: 100%;
} */

/* Main */
#dashboardContainer {
    margin: 0;
    margin-left: 300px;
    transition: 0.3s all linear;
    background-color: rgb(255, 255, 255);
}

/* Sidebar */
#sidebarDashboard {
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.3s all linear;
    z-index: 1;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sidebarLogo img {
    width: 250px;
}

.sidebarLogo {
    padding: 20px;
    margin: 25px 0;
}

.dashboardLinks ul li {
    display: flex;
    flex-direction: column;
}

.dashboardLinks ul li a,
#sidebarDashboard form button {
    margin: 0 30px;
    padding: 16px;
    font-size: 19px;
    cursor: pointer;
    transition: 0.3s all linear;
    letter-spacing: 1px;

}

.dashboardLinks ul li a {
    color: var(--pinkRed);
}

.dashboardLinks ul li a:hover,
#sidebarDashboard form button:hover {
    padding-left: 24px;
    background: linear-gradient(to right, teal 0%, #191819 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#sidebarDashboard form button {
    background: transparent;
    border: none;
    color: var(--teal);
}

#sidebarDashboard form {
    height: 100px;
}
#topBar {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#topBar h3 {
    font-size: 22px;
    letter-spacing: 1px;
}

.colored {
color: var(--red);
}
.colored2 {
color: var(--lblue);
}

.sidebarDashboardToggle,.sidebarDashboardClose{
    background: transparent;
    font-size: 25px;
    border: transparent;
    margin-right: 10px;
    cursor: pointer;
    color: var(--lblue);
    transition: 0.3s all linear;
}
.sidebarDashboardClose{
    color: red;
}
.sidebarDashboardToggle:hover{
    color: red;
}
.sidebarDashboardClose:hover{
    color: var(--lblue);
}

.hideDashboardSidebar{
transform: translateX(-100%);
}
.hideDashboardSidebar #dashboardContainer {
    margin-left: 0px;
}
.marginFull{
    margin-left: 0 !important;
}
@media screen and (max-width:850px) {
    #dashboardContainer{
        margin-left: 0;
    }
}
@media screen and (min-width:850px) {
    .dashboardContent{
        margin: 20px;
    }
}
.dashboardContent{
    border-radius: 0;
}
.flexInputDiv{
    width: 50%;
}

.bookedServices p{
    text-align: left;
}
 .bookedServices h3{
background-color: rgb(243, 243, 243) ;
color: var(--lblue);
padding: 20px;
letter-spacing: 1px;
margin-bottom: 10px;
}
.Pending,.Ongoing,.Completed{
    background-color: red;
    color: white;
    padding: 7px 11px;
    border-radius: 10px;
}
.Ongoing{
    background-color: blue;
}
.Completed{
    background-color: rgb(1, 193, 17);
}

table {
    background: #f3f3f3;
    border-radius: 0.25em;
    border-collapse: collapse;
}
.responses-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: var(--box-shadow);
}
th {
    border-bottom: 1px solid rgb(223, 218, 218);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    min-width: 500px;
    border-right: 1px solid rgb(223, 218, 218);
    padding: 16px;
}

th:last-child, td:last-child {
    border-right: none;
}

table {
    min-width: 100%;
}

td {
    color: rgb(112, 112, 112);
    font-weight: 400;
    padding: 0.65em 1em;
    border-right: 1px solid rgb(223, 218, 218);
    font-size: 15px;
    min-width: 100%;
    width: fit-content;
    background-color: white;
    text-align: center;
}

td:nth-child(2), td:nth-child(1) {
    color: #333;
}

tr {
    border-bottom: 1px solid rgb(223, 218, 218);
}

tr:last-child {
    border-bottom: none;
}


.responses-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(197, 197, 197);
    padding: 0 16px;
    padding-bottom: 7px;
    margin-bottom: 7px;
}

.responses-header h2 {
    font-size: 20px;
    margin-right: 3px;
}


.responses-table {
    margin: 10px auto;
    overflow: scroll;
    border: 1px solid rgb(223, 218, 218);
    box-shadow: rgba(0, 0, 0, 0.343) 0px 2px 4px 0px inset;
}

.responses-table th {
    min-width: 100px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

.flex-user-data {
    display: flex;
    margin: 20px;
    align-items: center;
    gap: 20px;
}

.userImage {
    width: 250px !important;
    height: 250px !important;
}

.userImage img {
    width: 100%;
    height: 100%;
}

.gird-user-data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
    margin: 20px;
}

.flex-user-data p {
    color: var(--color-info-dark);
    justify-content: space-between;
}

.flex-user-data p span {
    color: #333;
    margin-right: 10px;
}

@media screen and (max-width:800px) {
    .flex-user-data {
        flex-direction: column;
    }

    .gird-user-data {
        grid-template-columns: repeat(1, 1fr);
    }

}

.notification{
    background-color: rgb(238, 238, 238);
    padding: 10px;
    border-bottom: 1px solid #bababa;
}

.notificationRed{
    background-color: rgb(249, 208, 208);
}
.notificationYellow{
    background-color: rgb(249, 245, 208);
}
.notificationGreen{
    background-color: rgb(219, 249, 208);
}
.notificationdGreen{
    background-color: rgb(156, 250, 122);
}