<aside id="sidebarDashboard" >
    <div style="position:absolute; right: 30px; top: 30px;">
        <button class="sidebarDashboardClose"><i class="fa-solid fa-arrow-left"></i></button>
    </div>
    <div class="sidebarLogo">
        <a href="/">
            <img src="./img/logo.png" alt="">
        </a>
    </div>
    <div class="dashboardLinks">
        <ul>
            <li>
                <a href="/dashboard"><i class="fa-solid fa-plus"></i> &nbsp; Book Service</a>
                <a href="/manageServices"><i class="fa-solid fa-cubes"></i> &nbsp; Manage Services</a>
            </li>
        </ul>
    </div>
    <form action="/logout" method="post">
        <button><i class="fa-solid fa-right-from-bracket"></i> &nbsp; Logout</button>
    </form>
</aside>