<section id="about" class="flexRow flexRowToColumn padding20">
    <div style="display: grid;place-items: center;">
        <img style="" src="./img/logo.png" alt="">
    </div>
    <div>
        <h1 class="greenGradientText">About Us</h1>
        <p style="font-size: 17px;">
            Welcome to One Step Away Cleaner, your one-stop solution for all your cleaning needs. We understand that
            keeping your surroundings clean and organized is essential to maintain a healthy and stress-free life.
            That's why we're here to provide you with exceptional cleaning services that cater to your unique
            requirements. With years of experience in the industry, we take pride in delivering quality cleaning
            services that exceed our clients' expectations. From house cleaning to office cleaning, carpet cleaning to
            special event cleaning, we have the expertise and equipment to handle it all. Our professional and
            experienced staff will ensure that your space is sparkling clean and organized, giving you the peace of mind
            you deserve. Choose One Step Away Cleaner for a hassle-free cleaning experience and take the first step
            towards a cleaner and healthier environment.
        </p>
    </div>

</section>
<section id="benefits">
    <div id="sectionHeader">
        <h1 class="greenGradientText">Why Choose Us ? </h1>
        <p>Discover the Benefits of Choosing Our Cleaning Services</p>
    </div>
    <div id="displayGrid" class="benefitsGridContainer">
        <article>
            <div class="circleIcon">
                <i class="fas fa-medal"></i>
            </div>
            <h3>Quality</h3>
            <p>Our commitment to using only the highest quality products and techniques ensures that your space will be
                left spotless and shining.</p>
        </article>
        <article>
            <div class="circleIcon">
                <i class="fas fa-user-tie"></i>
            </div>
            <h3>Professionalism</h3>
            <p>Our team of professionals takes pride in delivering excellent customer service and treating your space
                with the utmost respect and care.</p>
        </article>
        <article>
            <div class="circleIcon">
                <i class="fas fa-hand-holding-usd"></i>
            </div>
            <h3>Affordability</h3>
            <p>We believe that everyone deserves a clean and tidy space without breaking the bank. That's why we offer
                competitive pricing to meet your budget.</p>
        </article>
        <article>
            <div class="circleIcon">
                <i class="fas fa-search"></i>
            </div>
            <h3>Attention to Detail</h3>
            <p>We take pride in our meticulous approach to cleaning, making sure to pay close attention to every nook
                and cranny to leave your space sparkling clean.</p>
        </article>
        <article>
            <div class="circleIcon">
                <i class="fas fa-thumbs-up"></i>
            </div>
            <h3>Customer Satisfaction</h3>
            <p>Your satisfaction is our top priority. We strive to exceed your expectations and ensure that you are
                completely happy with our services.</p>
        </article>
        <article>
            <div class="circleIcon">
                <i class="fas fa-user"></i>
            </div>
            <h3>Experienced Staff</h3>
            <p>Our team of experienced and trained professionals has the skills and knowledge to tackle any cleaning
                task, no matter how big or small.</p>
        </article>

    </div>
</section>