<footer>
    <section id="footerSections" class="flexRow  flexRowtoColumn">

        <div>
            <h3>About</h3>
            <img style="margin: 0;" src="./img/logo.png" alt="">
            <p>One Step Away Cleaner is a professional cleaning service that provides top-quality cleaning solutions for
                homes and businesses. With a team of experienced and skilled cleaners, we strive to ensure that your
                space is clean, organized, and always looking its best.
            </p>
            <% if(isLoggedIn){%>
                <a href="/booking">Book Now</a>
                <% }else{%>
                <a href="/login">Book Now</a>
                    <%}%>
        </div>
        <div>
            <h3>Navigate To</h3>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="/joinus">Join Us</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">SignUp</a></li>

            </ul>
            <br>
            <div class="flexRow socialIcons">

                <a href="#"><i style="color: #fa93ff;" class="fa-brands fa-instagram"></i></i></a>
                <a href="#"><i style="color: #4980ff" class="fa-brands fa-facebook"></i></a>
                <a href="#"><i style="color: rgb(19, 255, 19);" class="fa-brands fa-whatsapp"></i></i></a>

            </div>
        </div>
        <div>
            <h3>Contact Us</h3>
            <div class="flexColumn  flexRowtoColumn">
                <div class="flexColumn ">
                    <i class="fa-solid fa-phone"></i>
                    <p>+1 (611) 331-0122</p>
                </div>
                <div class="flexColumn ">
                    <i class="fa-solid fa-envelope"></i>
                    <p>OneStepAwayCleaner@gmail.com</p>
                </div>
                <div class="flexColumn ">
                    <i class="fa-solid fa-location-dot"></i>
                    <p>Toronto, Canada</p>
                </div>
            </div>
        </div>
    </section>
    <hr class="style18">
    <br>
    <%const d=new Date(); let year=d.getFullYear();%>
        <h4 style="text-align: center; margin: 10px; color: rgb(216, 216, 216);">Copyright 2022-
            <%=year%>
                One Step Away Cleaner Private Limited- All rights reserved.
        </h4>
        </h4>
</footer>