    <!-- SERVICES -->
    <section id="services" class="padding20">
        <div id="sectionHeader">
            <h1 class="greenGradientText">Services We Provide</h1>
            <p>Discover our range of professional cleaning services designed to leave your space spotless and refreshed</p>
        </div>
        <br>
        <div class="services">
            <article class="card servicesCard">
                <div class="serviceImg">
                    <img src="https://img.freepik.com/free-vector/ballroom-cleaning-illustration-man-polishing-parquet-tile-floor-royal-hall-medieval_33099-378.jpg?size=626&ext=jpg&ga=GA1.2.129187666.1679697716&semt=ais"
                        alt="">
                </div>
                <h2 class="redGradientText">House Cleaning</h2>
                <p>Cleaning and organizing of a home's interior spaces.</p>
            </article>
            <article class="card servicesCard">
                <div class="serviceImg">
                    <img src="https://img.freepik.com/free-vector/windows-cleaning-flat-composition-with-human-character-washing-wide-window-with-vacuum-cleaner-washing-detergents-illustration_1284-64940.jpg?size=626&ext=jpg&ga=GA1.2.129187666.1679697716&semt=ais" alt="">
                </div>
                <h2 class="redGradientText">Window Cleaning</h2>
                <p>Cleaning of exterior and/or interior windows and glass surfaces.</p>
            </article>
            <article class="card servicesCard">
                <div class="serviceImg">
                    <img src="https://img.freepik.com/free-vector/male-janitor-cleaning-toilet_1308-26483.jpg?size=626&ext=jpg&ga=GA1.2.129187666.1679697716&semt=ais" alt="">
                </div>
                <h2 class="redGradientText">Bathroom Cleaning</h2>
                <p>Cleaning and disinfecting of bathroom fixtures, surfaces, and floors.</p>
            </article>
            <article class="card servicesCard">
                <div class="serviceImg">
                    <img src="https://img.freepik.com/free-vector/living-room-cleanup-composition_1284-71693.jpg?size=626&ext=jpg&ga=GA1.2.129187666.1679697716&semt=ais" alt="">
                </div>
                <h2 class="redGradientText">Carpet Cleaning</h2>
                <p>Cleaning and maintenance of carpets and upholstery in homes or businesses.</p>
            </article>
            <article class="card servicesCard">
                <div class="serviceImg">
                    <img src="https://img.freepik.com/free-vector/cleaners-with-cleaning-products-housekeeping-service_18591-52055.jpg?size=626&ext=jpg&ga=GA1.2.129187666.1679697716&semt=ais" alt="">
                </div>
                <h2 class="redGradientText">Office Cleaning</h2>
                <p>Cleaning and organizing of office spaces, including workstations, common areas, and bathrooms.</p>
            </article>
            <article class="card servicesCard">
                <div class="serviceImg">
<img src="https://img.freepik.com/free-vector/flat-car-wash-service-concept-illustration_23-2149049881.jpg?size=626&ext=jpg&ga=GA1.2.129187666.1679697716&semt=ais" alt="">
                </div>
                <h2 class="redGradientText">Pressure Washing</h2>
                <p>Cleaning of vehicles and surfaces such as driveways,and sidewalks using high-pressure water.
                </p>
            </article>
            <article class="card servicesCard">
                <div class="serviceImg">
                    <img src="https://img.freepik.com/free-vector/kitchen-maintenance-service-flat-composition-with-woman-cleaning-stove-top-with-sponge-stylish-dishwasher-oven-illustration_1284-29297.jpg?size=626&ext=jpg&ga=GA1.2.129187666.1679697716&semt=ais" alt="">
                </div>
                <h2 class="redGradientText">Kitchen Cleaning</h2>
                <p>Cleaning and sanitation of commercial kitchen equipment, floors, and surfaces </p>
            </article>

            <article class="card servicesCard">
                <div class="serviceImg">
                    <img src="https://img.freepik.com/free-vector/cleaning-service-flat_1284-65325.jpg?size=626&ext=jpg&ga=GA1.2.129187666.1679697716&semt=ais" alt="">
                </div>
                <h2 class="redGradientText">Special Event Cleaning</h2>
                <p>Cleaning and preparation of event spaces, such as weddings, conferences, and concerts.</p>
            </article>
        </div>
        <div class="textAlignCenter padding20">
            <% if(isLoggedIn){%>
                <a style="display: inline-block;" href="/booking" class="btn btn-yellow">Book Service Now !</a>
                    <% }else{%>
                        <a style="display: inline-block;" href="/login" class="btn btn-yellow">Book Service Now !</a>
                        <%}%>
        </div>
    </section>